n8n-workflow-PRODUCTION-BACKUP.json
{
  "name": "WhatsApp-Retell PRODUCTION",
  "nodes": [
    {
      "parameters": {
        "url": "=https://kkcqrobubmtpehagzuox.supabase.co/rest/v1/whatsapp_sessions?phone_number=eq.{{ $json.from_number }}&order=last_message_at.desc&limit=1",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY3Fyb2J1Ym10cGVoYWd6dW94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTIwNDMyNywiZXhwIjoyMDc0NzgwMzI3fQ.uKj_c7_CWEXuLaUeerpP5ALEHjMkBj-NrfUOzPveArM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY3Fyb2J1Ym10cGVoYWd6dW94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTIwNDMyNywiZXhwIjoyMDc0NzgwMzI3fQ.uKj_c7_CWEXuLaUeerpP5ALEHjMkBj-NrfUOzPveArM"
            }
          ]
        },
        "options": {}
      },
      "name": "Lookup Session in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-528, 48],
      "id": "13c500d0-e0d0-489e-9c9d-f9ee9d153be6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// n8n automatically unwraps array items, so $input.item.json is the object itself\nconst supabaseResult = $input.item.json;\nconst phoneNumber = $('Parse WhatsApp Data1').item.json.from_number;\nconst messageText = $('Parse WhatsApp Data1').item.json.message_text;\n\n// Extract chat_id directly from the result\nconst chatId = supabaseResult.chat_id || null;\n\nreturn {\n  phone_number: phoneNumber,\n  message_text: messageText,\n  existing_chat_id: chatId,\n  has_session: !!chatId,\n  contact_name: $('Parse WhatsApp Data1').item.json.contact_name,\n  wa_id: $('Parse WhatsApp Data1').item.json.wa_id\n};"
      },
      "name": "Check Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-336, 48],
      "id": "1bf5498d-19b5-48ed-a0e2-844da8f3aeca"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.has_session }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Has Existing Session?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-128, 48],
      "id": "d5cbe3ff-32b2-424c-8fd7-903713e2346e"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_3ca65c9afda484a7ad1061596d14"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"agent_id\": \"agent_627fe1d68a83076772b3551df4\", \"metadata\": { \"whatsapp_number\": $json.phone_number, \"wa_id\": $json.wa_id, \"contact_name\": $json.contact_name } } }}",
        "options": {}
      },
      "name": "Create New Retell Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [64, 192],
      "id": "91149537-6030-4ad4-815a-08754ead9f02"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kkcqrobubmtpehagzuox.supabase.co/rest/v1/whatsapp_sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY3Fyb2J1Ym10cGVoYWd6dW94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTIwNDMyNywiZXhwIjoyMDc0NzgwMzI3fQ.uKj_c7_CWEXuLaUeerpP5ALEHjMkBj-NrfUOzPveArM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY3Fyb2J1Ym10cGVoYWd6dW94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTIwNDMyNywiZXhwIjoyMDc0NzgwMzI3fQ.uKj_c7_CWEXuLaUeerpP5ALEHjMkBj-NrfUOzPveArM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"phone_number\": $('Check Session').item.json.phone_number, \"chat_id\": $json.chat_id, \"customer_name\": $('Check Session').item.json.contact_name } }}",
        "options": {}
      },
      "name": "Save New Session to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [272, 192],
      "id": "3693b56b-af35-4836-b2a3-607eb1b3b46a"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const chatId = $('Create New Retell Session').item.json.chat_id;\n\nif (!chatId) {\n  throw new Error('Could not get chat_id from Retell AI response');\n}\n\nreturn {\n  chat_id: chatId,\n  message_text: $('Check Session').item.json.message_text\n};"
      },
      "name": "Prepare New Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, 192],
      "id": "6e4ec453-aab3-4944-ae06-8a9bcfe27ad6"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  chat_id: $json.existing_chat_id,\n  message_text: $json.message_text,\n  phone_number: $json.phone_number\n};"
      },
      "name": "Use Existing Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [64, -112],
      "id": "473b6bdd-0006-41b0-a4bf-d46d7ef2246d"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://kkcqrobubmtpehagzuox.supabase.co/rest/v1/whatsapp_sessions?chat_id=eq.{{ $json.chat_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY3Fyb2J1Ym10cGVoYWd6dW94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTIwNDMyNywiZXhwIjoyMDc0NzgwMzI3fQ.uKj_c7_CWEXuLaUeerpP5ALEHjMkBj-NrfUOzPveArM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY3Fyb2J1Ym10cGVoYWd6dW94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTIwNDMyNywiZXhwIjoyMDc0NzgwMzI3fQ.uKj_c7_CWEXuLaUeerpP5ALEHjMkBj-NrfUOzPveArM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"last_message_at\": new Date().toISOString() } }}",
        "options": {}
      },
      "name": "Update Last Message Time",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [272, -112],
      "id": "c6c44aa8-10b6-4b5a-8c64-2257161dcc4c"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "return {\n  chat_id: $('Use Existing Session').item.json.chat_id,\n  message_text: $('Use Existing Session').item.json.message_text\n};"
      },
      "name": "Prepare Existing Session",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [464, -112],
      "id": "d064d544-1158-4037-bea3-8889df920eae"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-chat",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_3ca65c9afda484a7ad1061596d14"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"agent_id\": \"agent_627fe1d68a83076772b3551df4\", \"metadata\": { \"phone_number\": $json.to, \"customer_name\": $json.customer_name, \"debt_amount\": $json.debt_amount, \"due_date\": $json.due_date } } }}",
        "options": {}
      },
      "name": "Create Chat Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-736, 544],
      "id": "7a7e0558-590a-4489-a33d-976d1d4d04ca"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://kkcqrobubmtpehagzuox.supabase.co/rest/v1/whatsapp_sessions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY3Fyb2J1Ym10cGVoYWd6dW94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTIwNDMyNywiZXhwIjoyMDc0NzgwMzI3fQ.uKj_c7_CWEXuLaUeerpP5ALEHjMkBj-NrfUOzPveArM"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImtrY3Fyb2J1Ym10cGVoYWd6dW94Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1OTIwNDMyNywiZXhwIjoyMDc0NzgwMzI3fQ.uKj_c7_CWEXuLaUeerpP5ALEHjMkBj-NrfUOzPveArM"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "return=representation"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"phone_number\": $('Format Message1').item.json.to, \"chat_id\": $json.chat_id, \"customer_name\": $('Format Message1').item.json.customer_name, \"debt_amount\": $('Format Message1').item.json.debt_amount, \"due_date\": $('Format Message1').item.json.due_date } }}",
        "options": {}
      },
      "name": "Store Session",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-528, 544],
      "id": "17c596d0-5ceb-4fe1-bd0c-2603fbf2cbf7"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Incoming WhatsApp1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1136, 144],
      "webhookId": "whatsapp-inbound",
      "id": "283f4635-47fb-4611-b2ed-02a048326427"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.body.entry[0].changes[0].value.messages[0].type }}",
              "value2": "text"
            }
          ]
        }
      },
      "name": "Filter - Only Text1",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [-944, 144],
      "id": "ec2dbe26-77ff-490a-a574-5a09a2a9ced3"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const entry = $input.item.json.body.entry[0];\nconst change = entry.changes[0];\nconst value = change.value;\nconst waMessage = value.messages[0];\nconst waContact = value.contacts[0];\n\nreturn {\n  from_number: waMessage.from,\n  message_text: waMessage.text.body,\n  message_id: waMessage.id,\n  timestamp: waMessage.timestamp,\n  contact_name: waContact.profile.name,\n  wa_id: waContact.wa_id\n};"
      },
      "name": "Parse WhatsApp Data1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-736, 48],
      "id": "52cbf915-a069-4702-ba91-0e4188005afc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/create-chat-completion",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer key_3ca65c9afda484a7ad1061596d14"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"chat_id\": $json.chat_id, \"message\": $json.message_text } }}",
        "options": {}
      },
      "name": "Get AI Response1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [672, 48],
      "id": "68e56905-4f6f-4bc7-8080-63c4337def7f"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const messages = $input.item.json.messages;\nconst agentMessage = messages.find(msg => msg.role === 'agent');\n\nreturn {\n  response_text: agentMessage ? agentMessage.content : 'Lo siento, no pude procesar tu mensaje.',\n  chat_id: $input.item.json.chat_id\n};"
      },
      "name": "Extract Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [864, 48],
      "id": "b2211427-5021-4c6f-babe-5d4daf3cb0e2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waba-v2.360dialog.io/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "D360-API-KEY",
              "value": "fyzs8TZuhjKccQSnCSRz8oucAK"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"messaging_product\": \"whatsapp\", \"recipient_type\": \"individual\", \"to\": $('Parse WhatsApp Data1').item.json.from_number, \"type\": \"text\", \"text\": { \"body\": $json.response_text } } }}",
        "options": {}
      },
      "name": "Send to WhatsApp1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1072, 48],
      "id": "c0b3f709-04f1-48bf-82d6-6951e0799774"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\" } }}",
        "options": {}
      },
      "name": "Respond OK1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1264, 48],
      "id": "44f0a6f9-74b3-4423-9236-0388c4f3e480"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"ignored\" } }}",
        "options": {}
      },
      "name": "Respond Ignored1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-736, 240],
      "id": "1ed623a8-746f-40e3-8085-a231922b62f6"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-trigger",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook - Form Submission1",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [-1136, 544],
      "id": "ea92b898-f2a8-413a-bc52-ff894a0b24cd",
      "webhookId": "18e42f6f-d027-47d2-911c-d797f8f171e2"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const formData = $input.item.json.body || $input.item.json;\n\nconst cleanPhone = (formData.phone_number || '').replace(/\\+/g, '');\nconst message = `Hola ${formData.customer_name},\\n\\nSomos del Banco de Córdoba. Le contactamos sobre su saldo pendiente de ${formData.debt_amount} ARS con vencimiento el ${formData.due_date}.\\n\\n¿Le gustaría hablar sobre opciones de pago?`;\n\nreturn {\n  to: cleanPhone,\n  message: message,\n  customer_name: formData.customer_name,\n  debt_amount: formData.debt_amount,\n  due_date: formData.due_date,\n  raw_phone: formData.phone_number\n};"
      },
      "name": "Format Message1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-944, 544],
      "id": "e54d0bf0-7fb1-4bfc-9dea-a2558f604c23"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://waba-v2.360dialog.io/messages",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "D360-API-KEY",
              "value": "fyzs8TZuhjKccQSnCSRz8oucAK"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"messaging_product\": \"whatsapp\", \"recipient_type\": \"individual\", \"to\": $('Format Message1').item.json.to, \"type\": \"text\", \"text\": { \"body\": $('Format Message1').item.json.message } } }}",
        "options": {}
      },
      "name": "Send Initial Message1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [-336, 544],
      "id": "242248c9-2d76-45c8-894a-c20df4cdf123"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"status\": \"success\", \"message\": \"WhatsApp message sent\", \"customer\": $('Format Message1').item.json.customer_name, \"sent_to\": $('Format Message1').item.json.raw_phone, \"chat_id\": $('Create Chat Session').item.json.chat_id } }}",
        "options": {}
      },
      "name": "Respond Success1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [-128, 544],
      "id": "1c84b299-72aa-4ce4-8236-936b127a7b42"
    }
  ],
  "connections": {
    "Lookup Session in Supabase": {
      "main": [[{"node": "Check Session", "type": "main", "index": 0}]]
    },
    "Check Session": {
      "main": [[{"node": "Has Existing Session?", "type": "main", "index": 0}]]
    },
    "Has Existing Session?": {
      "main": [
        [{"node": "Use Existing Session", "type": "main", "index": 0}],
        [{"node": "Create New Retell Session", "type": "main", "index": 0}]
      ]
    },
    "Create New Retell Session": {
      "main": [[{"node": "Save New Session to Supabase", "type": "main", "index": 0}]]
    },
    "Save New Session to Supabase": {
      "main": [[{"node": "Prepare New Session", "type": "main", "index": 0}]]
    },
    "Prepare New Session": {
      "main": [[{"node": "Get AI Response1", "type": "main", "index": 0}]]
    },
    "Use Existing Session": {
      "main": [[{"node": "Update Last Message Time", "type": "main", "index": 0}]]
    },
    "Update Last Message Time": {
      "main": [[{"node": "Prepare Existing Session", "type": "main", "index": 0}]]
    },
    "Prepare Existing Session": {
      "main": [[{"node": "Get AI Response1", "type": "main", "index": 0}]]
    },
    "Create Chat Session": {
      "main": [[{"node": "Store Session", "type": "main", "index": 0}]]
    },
    "Store Session": {
      "main": [[{"node": "Send Initial Message1", "type": "main", "index": 0}]]
    },
    "Webhook - Incoming WhatsApp1": {
      "main": [[{"node": "Filter - Only Text1", "type": "main", "index": 0}]]
    },
    "Filter - Only Text1": {
      "main": [
        [{"node": "Parse WhatsApp Data1", "type": "main", "index": 0}],
        [{"node": "Respond Ignored1", "type": "main", "index": 0}]
      ]
    },
    "Parse WhatsApp Data1": {
      "main": [[{"node": "Lookup Session in Supabase", "type": "main", "index": 0}]]
    },
    "Get AI Response1": {
      "main": [[{"node": "Extract Response1", "type": "main", "index": 0}]]
    },
    "Extract Response1": {
      "main": [[{"node": "Send to WhatsApp1", "type": "main", "index": 0}]]
    },
    "Send to WhatsApp1": {
      "main": [[{"node": "Respond OK1", "type": "main", "index": 0}]]
    },
    "Webhook - Form Submission1": {
      "main": [[{"node": "Format Message1", "type": "main", "index": 0}]]
    },
    "Format Message1": {
      "main": [[{"node": "Create Chat Session", "type": "main", "index": 0}]]
    },
    "Send Initial Message1": {
      "main": [[{"node": "Respond Success1", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
